* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background: #5e4674;
   overflow: hidden;
}

.loader {
   position: absolute;
   left: 50%;
   top: 50%;
   width: 350px;
   height: 350px;
   margin-left: -130px;
   margin-top: -130px;
}
.track {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   margin-left: 3px;
   margin-top: -3px;
   animation: rotate 3s infinite linear;
}
.mouse {
   position: absolute;
   top: 20px;
   left: 50%;
   width: 25px;
   height: 25px;
   background: #fff;
   border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
   transform:  rotate(-110deg);
}
.mouse:before, .mouse:after {
   content: "";
   position: absolute;
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background: inherit;
}
.mouse:before {
   left: 5px;
   top: -4px;
}
.mouse:after {
   left: 20px;
   top: 11px;
}
.mouse-tail {
   position: absolute;
   top: 17px;
   width: 3px;
   height: 10px;
   background: #fff;
   transform:  rotate(-130deg);
}


.face {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 130px;
   height: 130px;
   margin-left: -65px;
   margin-top: -65px;
}
.face:before, .face:after {
   content: "";
   position: absolute;
   width: 50%;
   height: 100%;
}
.face:before {
   background: #fab17a;
   border-top-left-radius: 65px;
   border-bottom-left-radius: 65px;
}
.face:after {
   left: 50%;
   background: #fa9e57;
   border-top-right-radius: 65px;
   border-bottom-right-radius: 65px;
}

.ears-container {
   position: absolute;
   top: -8px;
   width: 130px;
   height: 50px;
}
.ears-container:before, .ears-container:after {
   content: "";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 35px solid transparent;
   border-bottom: 35px solid transparent;
}
.ears-container:before {
   border-left: 35px solid #fab17a;
}
.ears-container:after {
   right: 0;
   border-right: 35px solid #fa9e57;;
}

.eyes-container {
   position: absolute;
   overflow: hidden;
   left: 50%;
   top: 30px;
   width: 106px;
   height: 50px;
   margin-left: -53px;
   z-index: 1;
   animation: hideEye 3s infinite linear;
}
.eye {
   position: relative;
   bottom: 0;
   float: left;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   color: #c8c6c9;
   background: #fff;
   animation: blink 3s infinite linear;
}
.eye:after {
   content: "";
   position: absolute;
   top: 4px;
   right: 14px;
   width: 12px;
   height: 12px;
   border-radius: inherit;
   background: #838091;
}
.eye:last-child {
   float: right;
}
.phiz {
   position: absolute;
   left: 50%;
   top: 77px;
   width: 32px;
   height: 48px;
   margin-left: -16px;
   z-index: 1;
}
.nose {
   width: 100%;
   height: 15px;
   border-radius: 5px 5px 25px 25px;
   background: #838091;
}
.lip {
   position: relative;
   left: 50%;
   width: 4px;
   height: 12px;
   margin-left: -2px;
   background: #767385;
}
.lip:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 5px;
   background: #767385;
}
.mouth {
   position: relative;
   left: 50%;
   width: 20px;
   height: 6px;
   margin-left: -10px;
   background: #fff;
   border: 3px solid #838091;
   border-radius: 0 0 12px 12px;
}

@keyframes rotate {
   0% {
      transform: rotate(360deg);
   }
   100% {
      transform: rotate(0deg);
   }
}

@keyframes hideEye {
   0%,10%,85% {
      margin-top: 0;
      height: 50px;
   }
   30%,65% {
      margin-top: 20px;
      height: 30px;
   } 
}

@keyframes blink {
   0%,10%,85% {
      bottom: 0;
   }
   30%,65% {
      bottom: 20px;
   } 
   0% {
      transform: rotate(360deg);
   }
   100% {
      transform: rotate(0deg);
   }
}
  

